<header>
    <h1>❤❤❤ Perfil ❤❤❤</h1>
</header>

<nav>
    <ul>
        <li><a href="/dashboard">Inicio</a></li>
        <li><a href="/opciones-emple">Opciones de Empleo</a></li>
        <li><a href="/perfil" >Perfil</a></li>
    </ul>
</nav>

<main>
    <div id="perfil-container">

        <div id="info-section">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt3o5mNvnwM61yCZab77sAEQqvU3-XDCkVrg&usqp=CAU" width="250px" height="250px">
          <h2>Juanito0630</h2>
          <p>Correo electrónico: jprodriguezpro15*gmail.com</p>
          <p>Ubicación: Bogota, Colombia</p>
        </div>
    
        <div id="edit-section">
          <h2>Editar Perfil</h2>
          <form>
            <div class="inputbox">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="Nombre Apellido">
                <br><br>
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" value="correo@example.com">
                <br><br>
                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" value="Ciudad, País">
            </div>
            <!-- Otros campos de edición -->
            <br>
            <button>
                <div class="button_slide slide_right">Guardar Cambios</div>
            </button>
            
          </form>
        </div>  
      </div>
</main>
<br><br><br><br><br><br>
<footer>
    <div class="footer-author">
        <p><strong>Todos los derechos reservados a Juan Pablo Rodriguez ©2023</strong></p>
    </div>
</footer>