<div class="cuerpo">
<div class="container">
<div class="login">
        <h2>Iniciar Sesion</h2>
        <br>
    <label for="">Username</label><br>
    <input type="text" name="username" id="username" [(ngModel)]="usern" placeholder="ingresa tu nombre" required>
    <br><br><br>
    <label for="">Password</label><br>
    <input type="password" name="pass" id="pass" [(ngModel)]="pass" placeholder="ingresa tu password " required>
    <br><br>
    <button (click)="login()">Ingresar</button>
    <br>
    <button (click)="registerUser()">Registrate</button>
     
</div>
</div>
</div>