body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35376B;
    color: #e6dddd;
    padding: 20px;
    text-align: center;
}

nav {
    width: 200px;
    background-color: #1CAAD0;
    padding: 20px;
    float: left;
    height: 80vh;
    color: #e6dddd;
    font-size: 18px; /* Ajusta el tamaño de la letra según tus preferencias */
}


main {
    margin-left: 220px;
    padding: 60px;
}

/*///////////////////////////////////////////////////////////////////////////////////// */

.card-container {
    display: flex; /* Usa flexbox para colocar las tarjetas en una fila */
    justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
  }

  .card {
    width: 300px;
    border: 1px solid #DB0085;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding: 16px;
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }

  .card-text {
    color: #555;
  }

  .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }

  .footer-author {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px; /* Ajusta la altura del pie de página según tus necesidades */
    font-size: 18px;
}

.cerrarsesion {
    background-color: #8F44E3;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

.cerrarsesion:hover {
    background-color: #8F44E3;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #44E3D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #2196F3; /* Cambiar a color azul */
    float: right;
    font-size: 36px; /* Ajustar el tamaño del botón */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0D47A1;
    text-decoration: none;
    cursor: pointer;
}


.modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content2 {
    background-color: #44E3D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close2 {
    color: #2196F3; /* Cambiar a color azul */
    float: right;
    font-size: 36px; /* Ajustar el tamaño del botón */
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #0D47A1;
    text-decoration: none;
    cursor: pointer;
}


.modal3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content3 {
    background-color: #44E3D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close3 {
    color: #2196F3; /* Cambiar a color azul */
    float: right;
    font-size: 36px; /* Ajustar el tamaño del botón */
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #0D47A1;
    text-decoration: none;
    cursor: pointer;
}
