body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    width: 200px;
    background-color: #b3b3b3;
    padding: 10px;
    float: left;
    height: 100vh;
}
main {
    margin-left: 220px;
    padding: 20px;
}